* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

body {
  background-image: url(./images/background.avif);
  background-position: center;
  background-repeat: repeat;
  background-size: 100px;
  font-family: 'Roboto', sans-serif;
}